/*html{
        font-size: 62.5%;
}*/
/**{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}*/
.banner{

    background-image: url(inicio.jpg);/*falta*/
}
.nosotros{
    background-image: url(fondo-total.png);/*falta*/
}
.valores{
    background-image: url(bajo.png);
}
